<div class="nav-scroller py-3 mb-2">
  <nav class="nav d-flex justify-content-between">
    <%= nav_helper 'p-2 text-muted', 'div'%>
    <div><%= login_helper "p-2 text-muted" %></div>
  </nav>
</div>
