<div class="container">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-blue">
    <div class="col-md-6 px-0">
      <h1 class="display-5">Welcome to my blog!</h1>
      <p class="lead my-3 text-muted">This page is a collection of the best articles, videos and presentations I've found on the topic.</p>
      <%# <p class="lead mb-0"> %>
      <p class="lead my-3 text-muted">I'd love to hear your suggestions</p>
      <p class="lead mb-0">
        <span>
          <%= link_to "Topics", topics_path, class: "topic" %>
        </span>
      </p>
    </div>
  </div>
<!--
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Featured post</a>
          </h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Post title</a>
          </h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
      </div>
    </div>
  </div>
  -->
</div>