<h1>About Me</h1>
<p>Technically sophisticated front-end engineering professional with solid history of expertise in web page development and web applications. Broad knowledge and success in an engineering environment. Proficient in computer hardware technology; skilled in installation, maintenance and IT equipment support. Wide range of industry knowledge, including technology trends, consulting with clients, developing customized applications, and collaborating with teams to deliver a high-quality end product.</p>
