<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "img-mehdi.jpg", width: 280, alt: "profile image", class: 'profile-img' %>
      </div>
      <div class="col-md-8">
        <p>Technically sophisticated front-end engineering professional with solid history of expertise in web page development and web applications. Broad knowledge and success in an engineering environment. Proficient in computer hardware technology; skilled in installation, maintenance and IT equipment support. Wide range of industry knowledge, including technology trends, consulting with clients, developing customized applications, and collaborating with teams to deliver a high-quality end product.</p>

        <p>Technically sophisticated front-end engineering professional with solid history of expertise in web page development and web applications. Broad knowledge and success in an engineering environment. Proficient in computer hardware technology; skilled in installation, maintengineering environment. Proficient in computer hardware technology; skilled in installation, maintenance and IT equipment support. Wide range of industry knowledge, including technology trends, consulting with clients, developing customized applications, and collaborating wngineering environment. Proficient in computer hardware technology; skilled in installation, mainteith teams to deliver a high-quality end product.</p>

        <p>
          <button
            class="btn btn-outline-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-outline-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>