<main role="main" class="inner cover">
  <h3 class="cover-heading">'The biggest adventure you can take is to live the life of your dreams.'</h1>
  <p class="lead">- Oprah Winfrey</p>
  <p class="lead mt-5">
    <%= link_to "About Me", about_me_path, class: "btn btn-outline-light"%>
  </p>
</main>