<main role="main" class="inner cover">
  <h3 class="cover-heading">
    <span class="element text-warning"></span>
  </h1>
  <p class="lead mt-5">
    <%= link_to "About Me", about_me_path, class: "btn btn-outline-warning"%>
  </p>
</main>